@import "tailwindcss";


/* Custom Scrollbar for the Sidebar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Makes it thin and sleek */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0a0a0a; /* Matches your sidebar background */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #C05621; /* Your Branded Orange */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #e66a2e; /* A slightly lighter orange on hover */
}

/* Styling the Leaflet Popup to look professional */
.leaflet-popup-content-wrapper {
  background: #ffffff !important;
  color: #0a0a0a !important;
  border-radius: 12px !important;
  padding: 0px !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3) !important;
}

.leaflet-popup-tip {
  background: #ffffff !important;
}

/* This forces the Leaflet Marker to slide instead of jump */
.leaflet-marker-icon {
  transition: transform 3000ms linear !important;
}

/* Ensure the custom inner container also stays smooth */
.custom-marker-container {
  transition: all 3000ms linear;
}